<h1>THIS IS A WEBSITE</h1>

<%= link_to "Login", login_path %>
<%= link_to "Logout", logout_path, method: :delete %>
<%= link_to "New Account",  %>

<% if session[:user_id] %>
<p>
  Welcome, <%= User.find(session[:user_id]).username %>
</p>
<% end %>
